<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="ima">
          <div class="boxType" style="height:350px">
              <h1>Register</h1>
    <form action="/register" method="POST">
    
    <input type="text" id="name" name="name" placeholder="Name" style="width: 50%;height: 50px;border: 1px solid black;text-align: center;"/><br/>
    <input type="email" id="email" name="email" placeholder="Email" style="width: 50%;height: 50px;border: 1px solid black;text-align: center;"/><br/>
    <input type="text" id="password" name="password" placeholder="Password" style="width: 50%;height: 50px;border: 1px solid black;text-align: center;"/>
    <br/><br/>
    <button type="submit" style="width: 50%;height: 50px;border: 1px solid black;text-align: center;background-color: black;color: white;">Register Me</button>
    </form>
    </div>
    </div>
    </div>
</body>
</html>